ConsoleTest/Connected Services/ServiceIntegrador/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ServicioIntegrador/ServicioIntegrador.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ServicioIntegrador/ServicioIntegrador.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIntegrador_mtdObtenerConceptoPago_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerConceptoPago" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerConceptoPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerConceptoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaNiveles_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaNiveles" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaNiveles_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaNivelesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaSubNiveles_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaSubNiveles" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaSubNiveles_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaSubNivelesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaClientes" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerListaClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerListaClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerServiciosRelacionados_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerServiciosRelacionados" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerServiciosRelacionados_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerServiciosRelacionadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDeuda_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDeuda" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDeuda_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDeudaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdRegistrarPago_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPago" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdRegistrarPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdRevertirPago_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdRevertirPago" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdRevertirPago_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdRevertirPagoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdExtornarFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdExtornarFactura" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdExtornarFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdExtornarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdConsultarTransaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdConsultarTransaccion" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdConsultarTransaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdConsultarTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDetallePagos_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDetallePagos" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDetallePagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDetallePagosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDatosDeFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDatosDeFactura" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerDatosDeFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerDatosDeFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerPlandePagos_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerPlandePagos" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdObtenerPlandePagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdObtenerPlandePagosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdConciliarPagos_InputMessage">
    <wsdl:part name="parameters" element="tns:mtdConciliarPagos" />
  </wsdl:message>
  <wsdl:message name="IServiceIntegrador_mtdConciliarPagos_OutputMessage">
    <wsdl:part name="parameters" element="tns:mtdConciliarPagosResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIntegrador">
    <wsdl:operation name="mtdObtenerConceptoPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerConceptoPago" message="tns:IServiceIntegrador_mtdObtenerConceptoPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerConceptoPagoResponse" message="tns:IServiceIntegrador_mtdObtenerConceptoPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaNiveles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaNiveles" message="tns:IServiceIntegrador_mtdObtenerListaNiveles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaNivelesResponse" message="tns:IServiceIntegrador_mtdObtenerListaNiveles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaSubNiveles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaSubNiveles" message="tns:IServiceIntegrador_mtdObtenerListaSubNiveles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaSubNivelesResponse" message="tns:IServiceIntegrador_mtdObtenerListaSubNiveles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaClientes" message="tns:IServiceIntegrador_mtdObtenerListaClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerListaClientesResponse" message="tns:IServiceIntegrador_mtdObtenerListaClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerServiciosRelacionados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerServiciosRelacionados" message="tns:IServiceIntegrador_mtdObtenerServiciosRelacionados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerServiciosRelacionadosResponse" message="tns:IServiceIntegrador_mtdObtenerServiciosRelacionados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDeuda">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDeuda" message="tns:IServiceIntegrador_mtdObtenerDeuda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDeudaResponse" message="tns:IServiceIntegrador_mtdObtenerDeuda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdRegistrarPago" message="tns:IServiceIntegrador_mtdRegistrarPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdRegistrarPagoResponse" message="tns:IServiceIntegrador_mtdRegistrarPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdRevertirPago">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdRevertirPago" message="tns:IServiceIntegrador_mtdRevertirPago_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdRevertirPagoResponse" message="tns:IServiceIntegrador_mtdRevertirPago_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdExtornarFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdExtornarFactura" message="tns:IServiceIntegrador_mtdExtornarFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdExtornarFacturaResponse" message="tns:IServiceIntegrador_mtdExtornarFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdConsultarTransaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdConsultarTransaccion" message="tns:IServiceIntegrador_mtdConsultarTransaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdConsultarTransaccionResponse" message="tns:IServiceIntegrador_mtdConsultarTransaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDetallePagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDetallePagos" message="tns:IServiceIntegrador_mtdObtenerDetallePagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDetallePagosResponse" message="tns:IServiceIntegrador_mtdObtenerDetallePagos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDatosDeFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDatosDeFactura" message="tns:IServiceIntegrador_mtdObtenerDatosDeFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerDatosDeFacturaResponse" message="tns:IServiceIntegrador_mtdObtenerDatosDeFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerPlandePagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerPlandePagos" message="tns:IServiceIntegrador_mtdObtenerPlandePagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdObtenerPlandePagosResponse" message="tns:IServiceIntegrador_mtdObtenerPlandePagos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mtdConciliarPagos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdConciliarPagos" message="tns:IServiceIntegrador_mtdConciliarPagos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIntegrador/mtdConciliarPagosResponse" message="tns:IServiceIntegrador_mtdConciliarPagos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceIntegrador" type="tns:IServiceIntegrador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdObtenerConceptoPago">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerConceptoPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaNiveles">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerListaNiveles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaSubNiveles">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerListaSubNiveles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerListaClientes">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerListaClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerServiciosRelacionados">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerServiciosRelacionados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDeuda">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerDeuda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPago">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdRegistrarPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRevertirPago">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdRevertirPago" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdExtornarFactura">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdExtornarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdConsultarTransaccion">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdConsultarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDetallePagos">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerDetallePagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerDatosDeFactura">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerDatosDeFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdObtenerPlandePagos">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdObtenerPlandePagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdConciliarPagos">
      <soap:operation soapAction="http://tempuri.org/IServiceIntegrador/mtdConciliarPagos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceIntegrador" binding="tns:BasicHttpBinding_IServiceIntegrador">
      <soap:address location="http://localhost/ServicioIntegrador/ServicioIntegrador.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>