ConsoleTest/Connected Services/ServiceIntegrador/ServicioIntegrador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mtdVerificarConectividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuarios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuariosContrasena" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseniaConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdVerificarConectividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdVerificarConectividadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerConceptoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerConceptoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerConceptoPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaNiveles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerListaNivelesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaSubNiveles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaSubNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerListaSubNivelesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerListaClientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerServiciosRelacionados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerServiciosRelacionadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerServiciosRelacionadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDeuda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDeudaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerDeudaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdRegistrarPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FacturaNITCI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FacturaNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdRegistrarPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdRegistrarPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdRevertirPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdRevertirPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdRevertirPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdExtornarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroFactura" type="xs:int" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdExtornarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdExtornarFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdConsultarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdConsultarTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdConsultarTransaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDetallePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDetallePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerDetallePagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDatosDeFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaTransaccion" type="xs:dateTime" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerDatosDeFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerDatosDeFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerPlandePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdObtenerPlandePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdObtenerPlandePagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdConciliarPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
        <xs:element minOccurs="0" name="UsuarioPago" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtdConciliarPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtdConciliarPagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>