ConsoleTest/Connected Services/ServicioIntegrador/ServicioIntegrador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VerificarConectividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioConexion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ContraseniaConexion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarConectividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarConectividadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConceptoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerConceptoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerConceptoPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNiveles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerListaNivelesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaSubNiveles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaSubNivelesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerListaSubNivelesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TipoConsulta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerListaClientesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServiciosRelacionados">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerServiciosRelacionadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerServiciosRelacionadosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDeuda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDeudaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDeudaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FacturaNITCI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FacturaNombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DetallePago" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DatosFactura" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertirPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevertirPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RevertirPagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtornarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NumeroFactura" type="xs:int" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExtornarFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExtornarFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTransaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTransaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultarTransaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDetallePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDetallePagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosDeFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NroTransaccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDatosDeFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDatosDeFacturaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlandePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoTipoBusqueda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPlandePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerPlandePagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConciliarPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FechaFin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UsuarioPago" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConciliarPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConciliarPagosResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>